/* Home.css */

.user_layout {
    /* Set background image */
    background-image: url('../../assets/image/background.jpg'); /* Replace 'path/to/your/background-image.jpg' with the path to your background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    /* Add any additional styles as needed */
}
